@use "./variables" as v;

.container {
  display: flex;
  margin-top: 1rem;
  .nav {
    width: 30%;
    background-color: v.$naranja;
    padding: 10px;
    margin-right: 10px;
  }
  .nav-titulo {
    text-align: center;
  }
  .main {
    width: 65%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    background-color: v.$blanco;
  }
}
.nav-filtro1 {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}
.card-body {
  padding: 10px;
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}
