html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  border-radius: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 10px 10px;
  background-color: #eff0f3;
  color: #0d0d0d;
}
@media (min-width: 992px) {
  body {
    margin: 10px 100px;
  }
}
@media (min-width: 2048px) {
  body {
    margin: 10px 400px;
  }
}

.card-img {
  min-width: 100px;
  max-width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8e3c;
  width: 100%;
  min-height: 100px;
  padding: 0.5rem 1rem;
}
@media (min-width: 992px) {
  .header {
    padding: 1rem 2rem;
  }
}
.header .header-logo {
  width: 50px;
  height: 50px;
}
@media (min-width: 992px) {
  .header .header-logo {
    width: 100px;
    height: 100px;
  }
}
.header #header-input {
  padding: 5px 10px;
  height: 50px;
  width: 50%;
  border-style: none;
}
.header #header-input:focus {
  outline: none;
  box-shadow: 0 0 8px #434343;
}
@media (min-width: 992px) {
  .header #header-input {
    font-size: 2rem;
    height: 80px;
  }
}
.header .header-cart {
  width: 50px;
  height: 50px;
}
@media (min-width: 992px) {
  .header .header-cart {
    width: 100px;
    height: 100px;
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.container .main {
  padding: 20px;
  position: relative;
  width: 65%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  background-color: #fffffe;
}

.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}
.card-body img {
  height: 180px;
}
.card-body button {
  border-style: none;
  background-color: #0d0d0d;
  color: #fffffe;
  padding: 10px 15px;
}

.loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 45%;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: var(--color2);
}

.loader:before {
  z-index: 100;
  animation: spin 1s infinite;
}

.loader:after {
  border: 10px solid var(--color4);
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.filtros {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #fffffe;
  position: relative;
}

.nav {
  position: absolute;
  top: 0;
  left: -105%;
  width: 100%;
  height: 100vh;
  background-color: #ff8e3c;
  padding: 10px;
  margin-right: 10px;
  z-index: 900;
  transition: all 0.3s linear;
  text-align: center;
}

.nav-titulo {
  text-align: center;
  font-size: 32px;
}

.nav-filtro {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

#filtro1 {
  border-style: none;
  background-color: #0d0d0d;
  color: #fffffe;
  padding: 10px 15px;
  display: block;
}
@media (min-width: 480px) {
  #filtro1 {
    display: none;
  }
}

.nav-button-reset {
  border-style: none;
  background-color: #0d0d0d;
  color: #fffffe;
  padding: 10px 15px;
  font-size: 32px;
  margin-top: 20px;
}

#filtros-select {
  padding: 10px 20px;
  font-size: 24px;
}

#group {
  position: relative;
}

#btn-cart {
  position: relative;
  border-style: none;
  cursor: pointer;
}

#cart-content {
  position: absolute;
  right: 0;
  top: 100%;
  width: 70vh;
  height: auto;
  background-color: #eff0f3;
  z-index: 999;
  padding: 15px;
}
#cart-content table,
#cart-content tr,
#cart-content td {
  border-collapse: collapse;
}
#cart-content table img,
#cart-content tr img,
#cart-content td img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#cart-content table {
  width: 100%;
  background-color: #fffffe;
}
#cart-content table td,
#cart-content table th {
  padding: 5px 5px;
}
#cart-content table #addItem,
#cart-content table #deleteItem,
#cart-content table #vaciarItem {
  border-style: none;
  padding: 5px 10px;
}
#cart-content table tfoot {
  border-top: 1px black solid;
}
#cart-content table .tdadd,
#cart-content table .tdmenos {
  background-color: #0d0d0d;
  color: #fffffe;
  font-size: 20px;
}

.cerrarCart {
  display: none;
}

#btn-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/*# sourceMappingURL=index.css.map */
